/Library/
/Temp/
/obj/Debug/
/UnityPackageManager/
/Assembly-CSharp.csproj
/SuperpixelDepthFilter.csproj
/SuperpixelDepthFilter.Editor.csproj
/SuperpixelDepthFilter.Plugins.csproj
/SuperpixelDepthFilter.sln
/Packages/
/SourceArt/
/.vs/
/Unity.PackageManagerUI.Editor.csproj
*.csproj
*.log
*.sln
/PokerVisConsole/PokerVisConsole/.vs/PokerVisConsole/v15
/PokerVisConsole/PokerVisConsole/PokerVisConsole/bin/Debug
/PokerVisConsole/PokerVisConsole/PokerVisConsole/obj/Debug
/PokerVisUnity/.vs/PokerVisUnity/v15
/PokerVisUnity/Library
/PokerVisUnity/obj/Debug
/PokerVisUnity/Packages
/PokerVisUnity/Temp
